<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>{{currentUser.firstName}} {{currentUser.lastName}}</h2>
            <h4>{{currentUser.email}}</h4>
        </div>
        <img src="https://instagram.fcgh9-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/p640x640/71118033_2514858748560757_9035012213307258034_n.jpg?_nc_ht=instagram.fcgh9-1.fna.fbcdn.net&_nc_cat=101&_nc_ohc=yQNK8d8An10AX-Lz6tH&oh=a6e47a6fe53660c9a77e3a2105937caa&oe=5EFC690D" alt="Soufiane FADIL">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Páginas</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <span class="material-icons" style="color: #FFA36A; padding-right: 5px;">dashboard</span>
        Dashboard
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">
        <span class="material-icons" style="color: #FFA36A; padding-right: 5px;">update</span>
        Histórico
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">
        <span class="material-icons" style="color: #FFA36A; padding-right: 5px;">description</span>
        Artigos
    </a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Ferramentas</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <span class="material-icons" style="color: #FFA36A; padding-right: 5px;">supervisor_account</span>
        Contatos
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <span class="material-icons" style="color: #FFA36A; padding-right: 5px;">contact_phone</span>
        Leads
    </a>


</mat-nav-list>