<app-header></app-header>

<div _ngcontent-qfw-c310="" class="row" style="margin-bottom: 3%; margin-left: auto; margin-right: auto;padding-bottom: 12%;">
    <div _ngcontent-bmd-c310="" _ngcontent-ppg-c310="" style="margin-right: auto; margin-left: auto; margin-bottom: auto;">
        <div style="font-size: 450%; font-weight: 450; margin-left:auto; margin-right: auto; padding-top: 5%; padding-bottom: 5%; color: #A258C7; text-shadow: 3px 2px #FFA36A;font-family: 'Norwester', sans-serif;">RESETAR SENHA</div>
        <div class="row" style="background: white; padding: 5%; border-radius: 18px; min-height: 10em; vertical-align: middle; margin-left: 5%; margin-right: 5%; margin-top: 2%; opacity: 100%;">
            <div class="col-md-6 offset-md-3 mt-4" style="width: 100%;">
                <form  #f="ngForm"
                (ngSubmit)="onSubmit(f)">
        
                    <div class="form-group">
                        <label for="resetPasswordEmail">Insira o E-mail registrado na conta</label>
                        <input type="email"
                               name="email"
                               ngModel
                               required
                               #email=""
                               class="form-control"
                               id="resetPasswordEmail"
                               placeholder="E-mail">
                    </div>
        
                    <button type="submit"
                    [disabled]="f.invalid"
                            class="btn btn-resetpass">Resetar Senha<i class="fas fa-paper-plane"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>