
  <mat-accordion *ngFor="let bikes of currentBikes" class="example-headers-align" style="background-color:#A258C7;" multi>
    <mat-expansion-panel style="margin-top: 25px;background-color:#A258C7;">
      <mat-expansion-panel-header >
        <mat-panel-title>
          
          {{bikes.id}}
        </mat-panel-title>
        <mat-panel-description>
         modelo: {{bikes.modelo}}   fabricante: {{bikes.fabricante}}
         
          <i class="fas fa-biking"></i>
        </mat-panel-description>
      </mat-expansion-panel-header>
  
     
        <div   style="background-color: white;" fxLayoutAlign="space-between center" fxLayoutGap="10px" fyLayoutGap="10px" class="stats-cards">
          <div style="color:#A258C7;
          margin-left: 9px;">
            <h2>Trancado: {{bikes.locked}}</h2>
            <h2>Peso: {{bikes.peso}}</h2>  
            <h2>Nivel da Bateria: {{bikes.batteryLevel}}</h2>  
            <h2>Peso maximo: {{bikes.pesoMax}}</h2>
            <h2>Velocidade maxima: {{bikes.velMax}}</h2>
            <h2>Velocidade atual: {{bikes.speed}}</h2>
          
          </div>
          <app-widget-area fxFlex="25" fyFlex="25" ></app-widget-area>
          <app-widget-area fxFlex="25" fyFlex="25"></app-widget-area>
          <app-widget-area fxFlex="25" fyFlex="25"></app-widget-area>

      </div>
   
  
  
    </mat-expansion-panel>
  
   
  
  
  </mat-accordion>