
  <mat-accordion *ngFor="let bikes of currentBikes" class="example-headers-align" style="background-color:#A258C7;" multi>
    <mat-expansion-panel style="margin-top: 25px;background-color:#A258C7;">
      <mat-expansion-panel-header style="font-family: 'Norwester', sans-serif" (click)="carregaHistorico(bikes.id)">
        <mat-panel-title style="font-family: 'Norwester', sans-serif;size: 20px;">
          
          <span class="material-icons" style="color: #51C3AA; padding-right: 5px;size: 20px ;">directions_bike</span>
         BICICLETA {{bikes.id.substring(22)}}  
          
           
          
        </mat-panel-title>
        <mat-panel-description>
         
       Modelo: {{bikes.modelo}}                    Fabricante: {{bikes.fabricante}}
         
        </mat-panel-description>
      </mat-expansion-panel-header>
  
    <div style="background-color: white; padding: 3%;
    border-radius: 4px;" fxLayoutAlign="space-between center" fxLayoutGap="10px"
      fyLayoutGap="10px" class="stats-cards">
      <div style="color:#A258C7;
              margin-left: 9px;">
        <div>
          <h1 *ngIf="!bikes.locked">
            <span class="material-icons" style="color: #51C3AA; padding-right: 5px; font-size: 55px;">lock_open</span>
            Bike desbloqueada
          </h1>
          <h1 *ngIf="bikes.locked">
            <span class="material-icons" style="color: #51C3AA; padding-right: 5px;font-size: 55px;">lock</span>
            Bike bloqueada
          </h1>
        </div>

            <h2>Peso: {{bikes.peso}} kgs</h2>  
            <h2>Nivel da Bateria: {{bikes.batteryLevel*100}}%</h2>  
            <h2>Peso maximo: {{bikes.pesoMax}} kgs</h2>
            <h2>Velocidade maxima: {{bikes.velMax}} km/h</h2>
            <h2>Velocidade atual: {{bikes.speed}} km/h</h2>
          
          </div>

      </div>
<div style="
margin-top: 4%;">

  <h1 style="font-family: 'Norwester', sans-serif"> 
    <span class="material-icons" style="color: #fff; padding-right: 5px; ">update</span>
    Histórico de corridas da bicicleta:</h1>
</div>
      <div *ngFor="let corridas of currentCorridas" >
        <mat-accordion  *ngIf="corridas.refBike ==bikes.id" class="example-headers-align" style="background-color:white;" multi>
          <mat-expansion-panel  style="margin-top: 25px;background-color:white;">
            <mat-expansion-panel-header (click)="carregaHistorico(bikes.id)">
              <ng-container *ngFor="let user of currentUsers">
              <mat-panel-title  *ngIf="corridas.refUser ==user.id" style="    background-color: white;
              color: #A258C7;">
                
                <span class="material-icons" style="color: #51C3AA; padding-right: 5px;">directions_bike</span>
                Usuario :{{user.firstName}} 
              </mat-panel-title>
          
              <mat-panel-description *ngIf="corridas.refUser ==user.id" style="    background-color: white;
              color: #A258C7;" >
               Desbloqueada em {{corridas.getBike}}   
               
              </mat-panel-description></ng-container>
            </mat-expansion-panel-header>
          
          <div style="background-color: white; padding: 3%;" fxLayoutAlign="space-between center" fxLayoutGap="10px"
            fyLayoutGap="10px" class="stats-cards">
            <div style="color:#A258C7;
                    margin-left: 9px;">
                  <h2>Duracao: {{corridas.duracao}} minutos</h2>  
                  <h2>Corrida terminada em: {{corridas.leaveBike}}</h2>  
                
                </div>
      
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-expansion-panel>
  </mat-accordion>