<div class="example-action-buttons">
    <button mat-button (click)="accordion.openAll()">Expandir</button>
    <button mat-button (click)="accordion.closeAll()">Fechar</button>
  </div>
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ID:09999 
        </mat-panel-title>
        <mat-panel-description>
          BICICLETA PEDALLA 4
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
  
     
        <div  fxLayoutAlign="space-between center" fxLayoutGap="10px" fyLayoutGap="10px" class="stats-cards">
          <app-widget-area fxFlex="25" fyFlex="25" ></app-widget-area>
          <app-widget-area fxFlex="25" fyFlex="25"></app-widget-area>
          <app-widget-area fxFlex="25" fyFlex="25"></app-widget-area>

      </div>
   
  
  
    </mat-expansion-panel>
  
   
  
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ID:09999 
        </mat-panel-title>
        <mat-panel-description>
          BICICLETA PEDALLA 4
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
  
    
        <div>
          <app-widget-area></app-widget-area>
      </div>
      
   
        <div>
          <app-widget-area></app-widget-area>
      </div>
  
  
    </mat-expansion-panel>
  </mat-accordion>