<app-header></app-header>
<div class="row">
    <div _ngcontent-ppg-c310="" style="margin-right: auto;margin-left: auto;margin-bottom: auto;padding-bottom: 20px;">
        <div _ngcontent-yec-c310="" style="font-size: 450%;font-weight: 450;padding-top: 10%;padding-bottom: 10%;color: white;text-shadow: 3px 2px #FFA36A;">SMART BIKE</div>
        <mat-card class="box" color="rgb(29, 31, 31)" style="background:rgb(29, 31, 31);    padding: 87px;
        border-radius: 18px; min-height: 10em;
    display: table-cell;
    vertical-align: middle;">
            <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                <div class="form-group">
                    <label for="loginUsername">Username</label>
                    <input type="text" name="username" ngModel required #username="" class="form-control"
                        id="loginUsername" placeholder="Enter username">
                </div>
                <div class="form-group">
                    <label for="loginPassword">Password</label>
                    <input type="password" name="password" ngModel required #password="" class="form-control"
                        id="loginPassword" placeholder="Password">
                </div>
                <div class="form-group form-check">
                    <a [routerLink]="['/reset-password']">Forgot Password</a>
                </div>
                <button type="submit" [disabled]="f.invalid" class="btn btn-login">Login <i
                        class="fas fa-sign-in-alt"></i></button>
            </form>
        </mat-card>
    </div>
</div>
<app-footer></app-footer>