.imagemDeFundo{
    background: url('https://i.ibb.co/2WNjwZ7/XjzxO9D.png');
    width: 200px;
    height: auto;
}

.btn-login {
    color: #fff;
    background-color: #FFA36A;
    border-color: #FFA36A;
    width: 100%;
}