<app-header></app-header>
<div class="row">
    <div style="padding-left: 33%;">
        <img src="https://i.imgur.com/pWpaP3d.png" width=420 height=auto>
        <mat-card class="box" color="rgb(29, 31, 31)" style="background:rgb(29, 31, 31);    padding: 87px;
        border-radius: 18px; min-height: 10em;
    display: table-cell;
    vertical-align: middle;">
            <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                <div class="form-group">
                    <label for="loginUsername">Username</label>
                    <input type="text" name="username" ngModel required #username="" class="form-control"
                        id="loginUsername" placeholder="Enter username">
                </div>
                <div class="form-group">
                    <label for="loginPassword">Password</label>
                    <input type="password" name="password" ngModel required #password="" class="form-control"
                        id="loginPassword" placeholder="Password">
                </div>
                <div class="form-group form-check">
                    <a [routerLink]="['/reset-password']">Forgot Password</a>
                </div>
                <button type="submit" [disabled]="f.invalid" class="btn btn-primary">Login <i
                        class="fas fa-sign-in-alt"></i></button>
            </form>
        </mat-card>
    </div>
</div>
<app-footer></app-footer>