<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" class="stats-cards">
    
    <mat-card fxFlex="30" style=" height: 155px;  background-color: #a258c7;  font-size: 30px;padding:1%;">
        <h3 style="    font-size: 30px;  font-family: 'Norwester', sans-serif;"> QUANTIDADE DE BIKES CADASTRADAS ATUALMENTE: 
        </h3>
        <h1 style=" text-align: right;   font-size: 55px;font-family: 'Norwester', sans-serif;">{{currentBikes.length}}</h1>
    </mat-card>
    <mat-card fxFlex="30" style=" height: 155px;  background-color: #a258c7;   font-size: 30px;padding:1%;">
        <h3 style="    font-size: 30px;  font-family: 'Norwester', sans-serif;"> QUANTIDADE DE CORRIDAS REALIZADAS: 
        </h3>
        <h1 style="  text-align: right;  font-size: 55px; font-family: 'Norwester', sans-serif;">{{currentCorridas.length}}</h1>
    </mat-card>
    <mat-card fxFlex="30" style=" height: 155px;  background-color: #a258c7;   font-size: 30px;padding:1%;">
        <h3 style="    font-size: 30px;  font-family: 'Norwester', sans-serif;"> QUANTIDADE DE BICICLETAS BLOQUEADAS AGORA: 
        </h3>
        <h1 style="  text-align: right;  font-size: 55px; font-family: 'Norwester', sans-serif;">{{quantidadeBikesBloqueadas}}</h1>
    </mat-card>
</div>


<div  style="border-radius: 150px; padding: 30px;" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
    <h1 style="  border-radius: 150px;text-align: right; color: #a258c7; font-size: 40px; font-family: 'Norwester', sans-serif;"> Localizacao das Bikes</h1>
    <mat-card fxFlex="100" style="
    background: #51c3aa;">
        <app-maps></app-maps>
    </mat-card>
 
  
  
</div>


<div  style="    padding: 30px;" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" class="stats-cards">
    <mat-card fxFlex="30" style=" border-radius: 150px;
    height: 280px; width: 100%; background-color: #a258c7;  font-size: 30px;">
        <h3 style="       margin-top: 73px; font-size: 30px;  font-family: 'Norwester', sans-serif;"> TOTAL DE USUÁRIOS: 
        </h3>
        <h1 style=" text-align: center;  opacity: 0.5; font-size: 300px;font-family: 'Norwester', sans-serif;">{{currentUsers.length}}</h1>
    </mat-card>
    <mat-card fxFlex="60" style="background-color: #d5d5d5;">
        <app-widget-area style="background-color: #0e0d0d;"></app-widget-area>
    </mat-card>
</div>
<h1>   </h1>


